.escondida {
    display: none !important;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.conteudo-principal {
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: #1db954;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
